@charset "utf-8";
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}
.sim {
	width: fit-content;
	margin: 0 auto;
	padding: 2.4rem;
	border: 3px solid #31B6A0;
	border-radius: 5vh;
}

.sim h2 {
	width: fit-content;
	margin: 0 auto 1.8rem;
	padding: 0 1.2rem .6rem;
	border-bottom: 2px solid #FFDA2A;
	font-size: 2.4rem;
}

.sim-setting {
	width: fit-content;
	margin: 0 auto 3.6rem;
}
.sim-setting-box {
	margin-bottom: 1.2rem;
	display: flex;
	align-items: center;
}
.sim-setting-head {
	margin-right: 1.2rem;
}
.sim-setting-input {
	display: flex;
	align-items: center;
}
.sim-setting-input input {
	padding: .8rem .6rem;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	text-align: center;
}
.sim-setting-input input[name="base"] {
	width: 6em;
}
.sim-setting-input input[name="rate"] {
	width: 3em;
}
.sim-setting-input input::-webkit-inner-spin-button,
.sim-setting-input input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance:textfield;
}
.sim-setting-input-btn {
	width: 3.64rem;
	padding: .8rem;
	background-color: #F5F5F5;
	border: 1px solid #555;
	text-align: center;
	cursor: pointer;
}
.sim-setting-input-unit {
	margin-left: .6rem;
}
.sim-setting-input select {
	width: 4.2em;
	padding: .8rem 1.2rem .8rem .3rem;
	border: 1px solid #555;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}
.sim-setting-box:nth-child(3) .sim-setting-input {
	position: relative;
}
.sim-setting-box:nth-child(3) .sim-setting-input::after {
	width: 6px;
	height: 6px;
	content: '';
	border-bottom: 2px solid #555;
	border-right: 2px solid #555;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%) rotate(45deg);
	pointer-events: none;
}

.sim-setting-condition p {
	font-size: 1.5rem;
	font-weight: bold;
}
.sim-setting-condition ul {
	margin: .6rem .6rem 0 2.4rem;
	list-style: disc outside;
}
.sim-setting-condition ul li {
	margin: .3rem 0;
	font-size: 1.4rem;
}

.sim-result-head {
	width: fit-content;
	margin: 0 auto 1.2rem;
	padding: 0 .6rem.3rem;
	border-bottom: 2px solid #4977BC;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
}
.sim-result {
	margin-bottom: 1.2rem;
}
.sim-result table {
	margin: 0 auto;
}
.sim-result table th {
	padding: .3rem;
	font-weight: bold;
	text-align: center;
}
.sim-result table td {
	padding: .8rem 1.0rem;
	border: 1px solid #4977BC;
	text-align: right;
}
.sim-result table td:first-child {
	text-align: left;
}
.sim-result table td:last-child {
	color: #FF0000;
}
.sim-result table tr:nth-child(5n+1) td {
	background-color: #EF8BB655;
}

.sim-remarks {
	width: fit-content;
	margin: 0 auto;
}
.sim-remarks ul {
	margin: .6rem .6rem 0 2.4rem;
	list-style: disc outside;
}
.sim-remarks ul li {
	margin: .3rem 0;
	font-size: 1.4rem;
}